*{
    /* border: 1px solid black; */
    margin: 5px;
    padding: 0px;
    font-size: 15px;
  }
  
  body{
    margin-top: 10%;
  }
  
  div.container{
    background-color: rgba(0, 255, 255, 0.01);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    width: 80%;
    margin: auto;
  }
  
  div.contentRow{
    display: flex;
  }
  
  div.selectSubjectButton{
    height: 50px;
    flex: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }
  div.buttons{
    height: 50px;
    flex: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }